.min-width-100 {
    min-width: 100px;
}
.min-width-125 {
    min-width: 125px;
}
.min-width-150 {
    min-width: 150px;
}
.min-width-175 {
    min-width: 175px;
}
.min-width-200 {
    min-width: 200px;
}