* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
html, body {
    width: 100%;
    height: 100%;
    font-family: 'M PLUS Rounded 1c','Courier New', Courier, monospace;
}
ul {
    list-style: none;
}

/* Theme */
:root {
    --primary: #058C42;
    --secundary: #de3a3a;
    --background: #161615;
    --background-shade: #2a2925;
    --font: #e7e7e7;
    --complementary: #2e2c2f;
}
/* Text colors */
.text-primary {
    color: var(--font);
}
.text-select {
    color: var(--primary);
}
.text-warning {
    color: var(--secundary);
}
/* Font variants*/
.text-title {
    font-weight: 400;
    font-size: 2.125rem;
    line-height: 1.235;
    letter-spacing: 0.00735em;
}
.text-subtitle {
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.75;
    letter-spacing: 0.00938em;
}
.text {
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.5;
    letter-spacing: 0.00938em;
}
.text-button {
    font-weight: 500;
    font-size: 0.875rem;
    line-height: 1.75;
    letter-spacing: 0.02857em;
    text-transform: uppercase;
    display: block;
}
.text-caption {
    font-weight: 400;
    font-size: 0.75rem;
    line-height: 1.66;
    letter-spacing: 0.03333em;
    display: block;
}
/* Background colors */
.bg-primary {
    background-color: var(--background);
}
.bg-secondary {
    background-color: var(--background-shade);
}
.bg-complementary {
    background-color: var(--complementary);
}

/* Native Paper */
.paper {
    overflow: hidden;
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;
    background: none;
    /* just added this to visualize the border */
    border-bottom: 1px solid var(--primary);
    
     /* When you use this, it breakes the armony with the player
     box-shadow: 0 14px 28px rgba(0, 0, 0, 0.15); 
    */
}

/* Player */
.player {
    min-height: 150px;
    background: none;
}

/* List image */
.profile-image {
    height: 45px;
    border-radius: 50%;
}
/* List item */
.list-item {
    margin-top: 15px;
    margin-left: 5px
}
.list-item:nth-child(1) {
    margin-top: 50px;
}
/* List item detail */
.item-details {
    margin-left: 5px;
    margin-bottom: 5px;
}
/* More icon */
.more-icon {
    color: var(--font);
    font-size: 1rem;
    padding-left: 10px;
}