* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
html, body {
    width: 100%;
    height: 100%;
    font-family: 'M PLUS Rounded 1c','Courier New', Courier, monospace, sans-serif;
}
ul {
    list-style: none;
}

/* Theme */
:root {
    --primary: #058C42;
    --secundary: #de3a3a;
    --background: #161615;
    --background-shade: #2a2925;
    --font: #e7e7e7;
    --complementary: #2e2c2f;

    --margin-size: 4px;
}

/* Text colors */
.text-primary {
    color: var(--font);
}
.text-select {
    color: var(--primary);
}
.text-warning {
    color: var(--secundary);
}

/* Font variants*/
.text-title {
    font-weight: 400;
    font-size: 2.125rem;
    line-height: 1.235;
    letter-spacing: 0.00735em;
}
.text-subtitle {
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.75;
    letter-spacing: 0.00938em;
}
.text-body {
    font-size: 1.25rem;
}
.text {
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.5;
    letter-spacing: 0.00938em;
}
.text-button {
    font-weight: 500;
    font-size: 0.875rem;
    line-height: 1.75;
    letter-spacing: 0.02857em;
    text-transform: uppercase;
}
.text-caption {
    font-weight: 400;
    font-size: 0.75rem;
    line-height: 1.66;
    letter-spacing: 0.03333em;
    display: block;
}
/* Overflow Wrap */
.text-wrap {
    overflow-wrap: break-word;
}


/* Background colors */
.bg-primary {
    background-color: var(--background);
}
.bg-secondary {
    background-color: var(--background-shade);
}
.bg-complementary {
    background-color: var(--complementary);
}
.bg-green {
    background-color: var(--primary);
}

/* Native Paper */
.paper {
    overflow: hidden;
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;
    background: none;
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.15); 
}

/* Position */
.relative {
    position: relative;
}

/* Cursor */
.pointer {
    cursor: pointer;
}

/* Player */
.player {
    min-height: 150px;
}

/* Search bar */
.search-bar-icon {
    position: absolute;
    font-size: 15px;
    left: 0px;
    top: 50%;
    transform: translateY(-50%);
}
.search-bar-input {
    color: var(--font);
    padding: 5px 0px 5px 30px;
    font-size: 16px;
    background: none;
    outline: none;
    border: none;
}

/* List */
.list-item-image {
    height: 45px;
    margin-right: 10px;
    border-radius: 50%;
    overflow: hidden;
}

/* Album Art */
.album-art {
    padding: 15px;
    height: 50%;
    min-width: 215px;
}
.album-art-image {
    width: auto;
    height: auto;
    max-width: 150px;
    max-height: 150px;
}
.album-icon {
    font-size: 10px;
    margin-right: 5px;
    margin-top: 3px;
    color: white
}

/* Album display */
#tracklist{
    overflow-y: scroll;
}
#tracklist::-webkit-scrollbar{
    width: 8px;
    -webkit-appearance: none;
}
#tracklist::-webkit-scrollbar-thumb{
    background-color: #20201D;
    border-radius: 24px;
}

/* Initial Value */
#right-aside, #left-aside {
    display: none;
}

/* // X-Small devices (portrait phones, less than 576px) */
@media (min-width: 576px) {
}

/* // Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
}

/* // Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
    #right-aside, #left-aside {
        display: block;
    }
}

/* // X-Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
}

/* // XX-Large devices (larger desktops, 1400px and up) */
@media (min-width: 1400px) {
}