* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
html, body {
    width: 100%;
    height: 100%;
    font-family: 'M PLUS Rounded 1c','Courier New', Courier, monospace, sans-serif;
}
ul {
    list-style: none;
}

/* Theme */
:root {
    --primary: #6D3187;
    --secundary: #de3a3a;
    --background: #161615;
    --background-shade: #2a2925;
    --font: #e7e7e7;
    --complementary: #2e2c2f;

    --margin-size: 4px;
}

/* Text colors */
.text-primary {
    color: var(--font);
}
.text-select {
    color: var(--primary);
}
.text-warning {
    color: var(--secundary);
}

/* Font variants*/
.text-title {
    font-weight: 400;
    font-size: 2.125rem;
    line-height: 1.235;
    letter-spacing: 0.00735em;
}
.text-big{
    font-weight: 400;
    font-size: 4.230rem;
    line-height: 1.235;
    letter-spacing: 0.00735em;
}
.text-subtitle {
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.75;
    letter-spacing: 0.00938em;
}
.text-body {
    font-size: 1.25rem;
}
.text {
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.5;
    letter-spacing: 0.00938em;
}
.text-button {
    font-weight: 500;
    font-size: 0.875rem;
    line-height: 1.75;
    letter-spacing: 0.02857em;
    text-transform: uppercase;
}
.text-caption {
    font-weight: 400;
    font-size: 0.75rem;
    line-height: 1.66;
    letter-spacing: 0.03333em;
    display: block;
}
.text-bold{
    font-weight: bold;
}
.text-wide{
    font-weight: 500;
}
/* Overflow Wrap */
.text-wrap {
    overflow-wrap: break-word;
}


/* Background colors */
.bg-primary {
    background-color: var(--background);
}
.bg-secondary {
    background-color: var(--background-shade);
}
.bg-complementary {
    background-color: var(--complementary);
}
.bg-green {
    background-color: var(--primary);
}

/* Native Paper */
.paper {
    overflow: hidden;
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;
    background: none;
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.15); 
}

/* Position */
.relative {
    position: relative;
}

/* Cursor */
.pointer {
    cursor: pointer;
}

/* Player */
.player {
    min-height: 150px;
}
.player-button{
    color:#30163c;
    align-self: flex-end;
}
.player-button:hover {
    color: #24112d;
}
.player-button-active {
    color: var(--font);
}
#volume {
    color:#30163c;
    align-self: flex-end;
}
#music-volume{
    align-self: center;
    -webkit-appearance: none;
    border-radius: 10px;
    background-color: var(--background-shade);
    height: 5px;
}
#music-volume::-webkit-slider-thumb {
  -webkit-appearance: none; 
  height: 15px;
  width:  15px;
  border-radius: 100%;
  background-color: #30163C;   
}

#music-volume::-webkit-slider-runnable-track {
    box-shadow: none;
    border: none;
    background: transparent;
}

#music-volume::-moz-range-thumb {
    -moz-appearance: none; 
    height: 15px;
    width:  15px;
    border-radius: 100%;
    background-color: #30163C; 
}
#music-volume::-moz-range-track {
    box-shadow: none;
    border: none;
    background: transparent;
}

#music-volume::-ms-track {
    box-shadow: none;
    border: none;
    background: transparent;
}
#music-volumen::-ms-thumb {
    -ms-appearance: none; 
    height: 15px;
    width:  15px;
    border-radius: 100%;
    background-color: #30163C; 
}
/* Search bar */
.search-bar-icon {
    position: absolute;
    font-size: 15px;
    left: 0px;
    top: 50%;
    transform: translateY(-50%);
}
.search-bar-input {
    color: var(--font);
    padding: 5px 0px 5px 30px;
    font-size: 16px;
    background: none;
    outline: none;
    border: none;
}

/* List */
.list-item-image {
    height: 45px;
    margin-right: 10px;
    border-radius: 50%;
    overflow: hidden;
}

/* Album Art */
.album-art {
    padding: 15px;
    padding-top: 0px;
    padding-bottom: 30px;
    height: 50%;
    min-width: 215px;
    transition: transform ease-in-out 0.3s;
}
.album-art:hover{
    transform: scale(1.05);
}
.album-art-image {
    width: auto;
    height: auto;
    max-width: 150px;
    max-height: 150px;
}
.album-icon {
    font-size: 10px;
    margin-right: 5px;
    margin-top: 3px;
    color: white
}

.album-big-image {
    width: auto;
    height: auto;
    max-width: 225px;
    max-height: 225px;
}

/* Album Display*/
#tracklist{
    overflow-y: scroll;
}
#tracklist::-webkit-scrollbar{
    width: 8px;
    -webkit-appearance: none;
}
#tracklist::-webkit-scrollbar-thumb{
    background-color: #20201D;
    border-radius: 24px;
}
.track{
    transition: background-color ease-in 0.3s, font-weight ease-in-out 0.3s;
}
.track:hover{
    background-color: #20201D;
    font-weight: 900;
}
.icon {
    color: white;
    margin-left: 5px;
    margin-right: 5px;
}
/* Artist Display */
#artist-content{
    overflow-y: scroll;
}
#artist-content::-webkit-scrollbar{
    width: 8px;
    -webkit-appearance: none;
}
#artist-content::-webkit-scrollbar-thumb{
    background-color: #20201D;
    border-radius: 24px;
}
.track-image{
    height: 50px;
    width: 50px;
    border-radius: 50%;
}
.related-artist{
    padding: 8px;
    padding-top: 0px;
    padding-bottom: 25px;
    height: 50%;
    min-width: 200px;
    width: 200px;
    text-align: center;
    transition: transform ease-in-out 0.3s;
}
.related-artist:hover{
    transform: scale(1.05);
}
#related-artists{
    border-bottom-left-radius: 60px;
    border-bottom-right-radius: 60px;
    background-image: linear-gradient(#2a2925 30% ,#20201D 70% );
}
.related-artist-image{
    border-radius: 50%;
    width: auto;
    height: auto;
    max-width: 230px;
    max-height: 230px;
}
.a-header {
    height: 50%;
    opacity: 1;
    /* background-image:  repeating-radial-gradient(circle at center 0, transparent 0, #058C4240 45px ), repeating-linear-gradient( #2A292510, #2A2925 );*/
    border-top-left-radius: 60px;
    border-top-right-radius: 60px;    
    background-image: linear-gradient(#20201D 30% ,#2a2925 70% );
}
.a-header img {
    border-radius: 50%;
    width: 150px;
    height: 150px;
}
.header-image{
    margin-left:calc(var(--margin-size)*10);
    margin-right:calc(var(--margin-size)*4);
}
.a-header h6 {
    font-size: 50px;
    font-weight: bold;
    text-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
    margin-bottom: 0px;
}
.a-header p {
    font-size: 16px;
}
.a-header span {
    font-size: 16px;
}

/* Search Display */
#search-content{
    overflow-y: scroll;
}
#search-content::-webkit-scrollbar{
    width: 8px;
    -webkit-appearance: none;
}
#search-content::-webkit-scrollbar-thumb{
    background-color: #20201D;
    border-radius: 24px;
}
#tracks-section {
    border-top-left-radius: 60px;
    border-top-right-radius: 60px;   
    background-image: linear-gradient(#20201D 30% ,#2a2925 70% );
}
#artists-section {
    border-bottom-left-radius: 60px;
    border-bottom-right-radius: 60px;   
    background-image: linear-gradient(#2a2925 30% ,#20201D 70% );
}
/* House Icon */
.house-icon {
    font-size: 15px;
    margin-top: 2px;
}

#home-button:hover {
    color: var(--primary);
    font-weight: 500;
}

/* Menu */
.menu-icon {
    font-size: 15px;
    margin-bottom: 2px;
}

#menu li:hover p {
    font-weight: 900;
}

#menu li:hover .menu-icon {
    color: var(--primary);
}

/* Initial Value */
#right-aside, #left-aside {
    display: none;
}

/* // X-Small devices (portrait phones, less than 576px) */
@media (max-width: 576px) {
    /* artist responsive display */
    .a-header p {
        display: none;
    }
    .a-header span {
        display: none;
    }
    .a-header h6{
        font-size: 30px;

    }
    .a-header div{
        justify-content: center;
        align-items: center;
    }
    .a-header>div{
        flex-direction: column;
        margin-left: 0;
        margin-right: 0;
    }
    .a-header img{
        margin-top: 5px;
        width: 130px;
        height: 130px;
    }
    .header-image{
        margin-left: 0;
        margin-right: 0;
    }
    .a-header{
        justify-content: center;
        align-items: center;
        margin-bottom: 10px;
    }
    /* Making the titles more little */
    .text-title{
        font-size: 1.6rem;
    }
}

/* // Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
}

/* // Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
    #right-aside, #left-aside {
        display: block;
    }
}

/* // X-Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
}

/* // XX-Large devices (larger desktops, 1400px and up) */
@media (min-width: 1400px) {
}